<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-update-departement 
      [departement]="updatedDep"
      (departementUpdated)= "departementUpdated($event)"
      [ajout]="ajout"
      ></app-update-departement>
      </div>
  <table class="table table-striped">
  <thead>
  <tr> <th>Id</th><th>Nom Catégorie</th> </tr>
  </thead>
  <tbody *ngFor="let d of departements">
  <tr>
  <td>{{d.idDep}}</td>
  <td>{{d.nomDep}}</td>
  <td><a class="btn btn-success" (click)="updateDep(dep)">Editer</a></td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  