<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
  <table class="table table-striped">
  <tr> <th>Id</th><th>Nom</th> <th>Salaire</th> <th>Date Emabauche</th> <th>Departement</th> </tr>
  <tbody *ngFor="let e of employees">
  <tr >
    <td>{{e.idEmployee}}</td>
    <td>{{e.nomEmployee}}</td>
    <td>{{e.salaire}}</td>
    <td>{{e.dateEmbauche | date:'dd/MM/yyyy'}}</td>
     <td>{{e.departement?.nomDep}}</td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerEmployee(e)">Supprimer</a></td>
    <td><a  *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/update-employee',e.idEmployee]">Modifier</a></td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>