<div class="container">
  <div>
  <h2>Ajouter un Employee :</h2>
  </div>
  <form >
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Employee</label>
    <input type="text" [(ngModel)]="newEmployee.idEmployee"
    name="idEmployee" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Employee</label>
    <input type="text"[(ngModel)]= "newEmployee.nomEmployee"
    name="nomEmployee" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Salaire</label>
    <input type="number" [(ngModel)]= "newEmployee.salaire"
    name="salaire" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >Date Emabauche</label>
    <input type="date" [(ngModel)]= "newEmployee.dateEmbauche"
    name="dateEmbauche" class="form-control">
    </div>
    <div class="mt-2">
       <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Departement</label>
        <select class="form-control form-control-lg" id="idDep" name="idDep"
        [(ngModel)]="newIdDep">
         <option *ngFor="let dep of departements" [value]="dep.idDep" >
         {{dep.nomDep}}
        </option>
        </select> 
        </div> 
    <button type="submit" (click)="addEmployee()"class="btn btn-success">Ajouter</button>
      <div>
        <h3>
          {{message}}
        </h3>
      </div>
  </div>
    </form>
    </div>